@charset "UTF-8";

.container-fluid {
	padding:0px;
}
.bg-dark {
    background-color: #00a5d5!important;
    padding: 0;
}
#logo {
   /* width: 39%; */
    /* height: 30%; */
  /*  width: 92px;
  height: 40px;*/
   width: 115px;
  height: 50px;
  float: left;
}
.navbar-brand  {
	padding: 0;
	font-size: 0.75em;
	font-weight: bold;
}
br {
            display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: -5px; /* change this to whatever height you want it */
}

.negre {
	color: black;
}

#icones {
	float:right;
	margin: 10px;
}
.facebook {
	color: blue;
}

.twitter {
	color:DeepSkyBlue;
}

.googleplus {
	color: #d34836;
}

.linkedin {
	color: #0e76a8;
}
.instagram {
 color: #3f729b;
 }
 .pinterest {
 color: #c8232c;
 }
 .noticies {
clear: both;
}
#novedades {
	margin-left: 8%;
}



.card {
 display: inline-block;
 min-width: 300px;
 }
.card-img-top {
 width: 700 px;
 height: 400 px;
 }
 
 footer  {
 background-color: #00a5d5;
color: rgba(255,255,255,.5);
 }
 
 #icones-footer a {
 color: #00a5d5;
 }
 
#icones-footer .fa-inverse {
	color: rgba(255,255,255,.5);
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
	
 color: rgba(255,255,255,.5); 

}

footer a:hover {
	
 color: rgba(255,255,255,.75); 
 text-decoration: none;

}

footer .card {
	background-color: #00a5d5;
	border: 0;
	min-width:10rem;
}
